# Capacitor
# Note: android/ and ios/ are committed because we have custom icons
# android/
# ios/

# Node
node_modules/
yarn.lock

# Environment
.env.local
.env

# Build outputs
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
